.header {
  width: 100%;
  height: 70px;
  background-color: beige;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header .navigation {
  display: flex;
  align-items: center;
  gap: 10px;
}
